In [2]:
library(tidyverse)
library(tidymodels)
library(dplyr)


url <- "https://raw.githubusercontent.com/danialtaj0/Dataset/main/diabetes_prediction_dataset.csv"
diabetes_data <- read_csv(url) |>
                 mutate(diabetes = as_factor(diabetes))

set.seed(1)

diabetes_split <- initial_split(diabetes_data, prop = 0.75, strata = diabetes)
diabetes_train <- training(diabetes_split)
diabetes_test <- testing(diabetes_split)
glimpse(diabetes_train)

class_distribution <- diabetes_train |>
  group_by(diabetes) |>
  summarise(Count = n())

class_distribution

predictor_means <- diabetes_train |>
  summarise(
    mean_bmi = mean(bmi, na.rm = TRUE),
    mean_age = mean(age, na.rm = TRUE),
    mean_blood_glucose_level = mean(blood_glucose_level, na.rm = TRUE)
  )

predictor_means

# Filtering rows where there is missing data in any of the specified columns
rows_with_missing_data <- diabetes_train |>
  filter(is.na(bmi) | is.na(age) | is.na(blood_glucose_level) | is.na(diabetes))


print(rows_with_missing_data)

# Count the number of rows with missing data
num_rows_with_missing_data <- nrow(rows_with_missing_data)

# Print the count
missing_data <- tibble(n_rows_missing_data = num_rows_with_missing_data)
missing_data

Rows: 100000 Columns: 9
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (2): gender, smoking_history
dbl (7): age, hypertension, heart_disease, bmi, HbA1c_level, blood_glucose_l...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 75,000
Columns: 9
$ gender              <chr> "Female", "Female", "Female", "Female", "Female", …
$ age                 <dbl> 80, 20, 44, 79, 32, 53, 54, 78, 67, 76, 78, 15, 42…
$ hypertension        <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,…
$ heart_disease       <dbl> 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,…
$ smoking_history     <chr> "never", "never", "never", "No Info", "never", "ne…
$ bmi                 <dbl> 25.19, 27.32, 19.31, 23.86, 27.32, 27.32, 54.70, 3…
$ HbA1c_level         <dbl> 6.6, 6.6, 6.5, 5.7, 5.0, 6.1, 6.0, 5.0, 5.8, 5.0, …
$ blood_glucose_level <dbl> 140, 85, 200, 85, 100, 85, 100, 130, 200, 160, 126…
$ diabetes            <fct> 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,…

  diabetes Count
1 0        68653
2 1         6347

  mean_bmi mean_age mean_blood_glucose_level
1 27.30796 41.96079 138.1894

# A tibble: 0 × 9
# ℹ 9 variables: gender <chr>, age <dbl>, hypertension <dbl>,
#   heart_disease <dbl>, smoking_history <chr>, bmi <dbl>, HbA1c_level <dbl>,
#   blood_glucose_level <dbl>, diabetes <fct>

  n_rows_missing_data
1 0