In [21]:
library(tidyverse)
library(tidymodels)
library(dplyr)


url <- "https://raw.githubusercontent.com/danialtaj0/Dataset/main/diabetes_prediction_dataset.csv"
diabetes_data <- read_csv(url) |>
                 mutate(diabetes = as_factor(diabetes))

set.seed(1)

diabetes_split <- initial_split(diabetes_data, prop = 0.75, strata = diabetes)
diabetes_train <- training(diabetes_split)
diabetes_test <- testing(diabetes_split)
glimpse(diabetes_train)

class_distribution <- diabetes_train |>
  group_by(diabetes) |>
  summarise(Count = n())

class_distribution

predictor_means <- diabetes_train |>
  summarise(
    mean_bmi = mean(bmi, na.rm = TRUE),
    mean_age = mean(age, na.rm = TRUE),
    mean_blood_glucose_level = mean(blood_glucose_level, na.rm = TRUE)
  )

predictor_means

# Filtering rows where there is missing data in any of the specified columns
rows_with_missing_data <- diabetes_train |>
  filter(is.na(bmi) | is.na(age) | is.na(blood_glucose_level) | is.na(diabetes))


print(rows_with_missing_data)

# Count the number of rows with missing data
num_rows_with_missing_data <- nrow(rows_with_missing_data)

# Print the count
print(num_rows_with_missing_data)

Rows: 100000 Columns: 9
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (2): gender, smoking_history
dbl (7): age, hypertension, heart_disease, bmi, HbA1c_level, blood_glucose_l...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 75,000
Columns: 9
$ gender              <chr> "Female", "Female", "Male", "Female", "Female", "M…
$ age                 <dbl> 54, 36, 76, 20, 79, 42, 53, 54, 78, 67, 76, 78, 15…
$ hypertension        <dbl> 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,…
$ heart_disease       <dbl> 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,…
$ smoking_history     <chr> "No Info", "current", "current", "never", "No Info…
$ bmi                 <dbl> 27.32, 23.45, 20.14, 27.32, 23.86, 33.64, 27.32, 5…
$ HbA1c_level         <dbl> 6.6, 5.0, 4.8, 6.6, 5.7, 4.8, 6.1, 6.0, 5.0, 5.8, …
$ blood_glucose_level <dbl> 80, 155, 155, 85, 85, 145, 85, 100, 130, 200, 160,…
$ diabetes            <fct> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,…

  diabetes Count
1 0        68688
2 1         6312

  mean_bmi mean_age mean_blood_glucose_level
1 27.3311  41.89038 137.9643

# A tibble: 0 × 9
# ℹ 9 variables: gender <chr>, age <dbl>, hypertension <dbl>,
#   heart_disease <dbl>, smoking_history <chr>, bmi <dbl>, HbA1c_level <dbl>,
#   blood_glucose_level <dbl>, diabetes <fct>
[1] 0